<h1>Listing languages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ltype</th>
    <th>Extension</th>
    <th>Compilation</th>
    <th>Execution</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @languages.each do |language| %>
  <tr>
    <td><%= language.name %></td>
    <td><b><%= language.ltype %></b></td>
    <td><b><%= language.extension %></b></td>
    <td><pre><%= language.compilation %></pre></td>
    <td><pre><%= language.execution %></pre></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_language_path(language), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      language_path(language),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>

  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new', :default => t("helpers.links.new")),
              new_language_path,
            :class => 'btn btn-primary' %>

