<h1> <%= @exercise.name %> </h1>


<p class = <%= @exercise.time_to_end >= 60 ? "text-success" : "text-error"%> >
time to start : <%= (@exercise.time_to_start).to_s()  %> minutes  | 
time to end : <%= (@exercise.time_to_end).to_s()  %> minutes 
</p>

<table class = "table table-bordered">
  <tr>
    <th>Rank</th>
    <th>user</th>
    <% @problems.each_with_index do |problem, i| %>
      <th>
        <% if @exercise.current? or @exercise.finished? %>
          <%= link_to "#{@exercise.letter_for_problem(problem)} - #{problem.problem.name}".html_safe, [@exercise,problem] %>
        <% else %>
          <%= @exercise.letter_for_problem(problem) %>
        <% end %>
      </th>
    <% end %>
    <th>Solved</th>
    <th>Penalty</th>
  </tr>

  <% @exercise.init_scoreboard %>
  <% @submissions.each do |s| %>
   <% @exercise.update_submission(s) %>
  <% end %>
   
  <% @exercise.scoreboard.each_with_index do |user, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= user[1].name %></td>
      <% @problems.each_with_index do |ex_problem,j| %>
            
            <td 
                <% if @exercise.contestants[user[0]].data[ex_problem.id] %> 
                                    
                  <% if @exercise.contestants[user[0]].data[ex_problem.id].attempts > 0 %>
                    <% if @exercise.contestants[user[0]].data[ex_problem.id].time_solved >= 0 %>
                      style = "background : #4CC417" 
                    <% else %>
                      style = "background : #f62817"
                    <% end %>
                  <% end %> >

                  <%= @exercise.contestants[user[0]].data[ex_problem.id].attempts %> /
                  <% if @exercise.contestants[user[0]].data[ex_problem.id].time_solved >= 0 %>
                    <%= @exercise.contestants[user[0]].data[ex_problem.id].time_solved %>
                  <% else %>
                    0
                  <% end %>                          
                <% end %>
             
             
          </td>
      <% end %>
      <td><%= user[1].problems_solved %></td>
      <td><%= user[1].penalty %></td>
    </tr>
  <% end %>
</table>

<script>
  setTimeout("location.reload()", 600000);
</script>
